header {
    background-image: url('https://wallpapercave.com/wp/wp1945939.jpg');
    margin-top: 0;
    padding: 0;
    height: 600px;
    z-index: 0;
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
}

.head {
    padding: 15px;
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    color: rgb(140, 199, 140);
    text-align: center;
    font-size: 64;
    text-shadow: grey ;
    opacity: .75;
    font-weight: bold;
}

.intro {
    position: relative;
    text-align: center;
    color:  rgb(42, 240, 42);
    margin-top: 15px;
    font-weight: bolder;
}

.titlePage {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;  
}

.greeting {
    font-size: 30px;
    color: #fff;
    text-align: center; 
    padding-top: 260px;
}

.break {
    background: linear-gradient(318.68deg, #0F495C 0%, #0D3640 49.72%, #08141F 100%);
    color: #fff;
}

.breakImg {
    position: relative;
    max-width: 50%;
    max-height: 50%;
    
}

.title {
    position: center;
    z-index: 1;
    max-width: 85%;
    max-height: 85%;
}
